<ol class="breadcrumb">
  <li><%= link_to "Products", admin_products_path %></li>
  <li><%= link_to @product.name, admin_products_path(@product) %></li>
  <li class="active">Active Products</li>
</ol>

<%= render 'form' %>